.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Serif";
  margin-top: 50px;
}
.header__logo-wrapper {
  margin-left: 120px;
  cursor: pointer;
}
.header__logo-img {
}
.header__link {
}
.header__menu {
  max-width: 433px;
}
.header__spisok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  cursor: pointer;
}
.header__li {
}
.header__link1 {
}
.header__link2 {
}
.header__link3 {
}
.header__link4 {
}
.header__knopka-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
  column-gap: 10px;
  cursor: pointer;
}
.header__div1 {
}
.header__div1-img {
}
.header__link-div1 {
}
.header__div2 {
}
.header__div2-img {
}
.header__link-div2 {
}
