.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Serif";
  margin-top: 50px;
}
.header__logo-wrapper {
  margin-left: 120px;
}
.header__logo-img {
}
.header__link {
}
.header__menu {
  max-width: 433px;
}
.header__spisok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.header__li {
}
.header__link1 {
}
.header__link2 {
}
.header__link3 {
}
.header__link4 {
}
.header__knopka-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
  column-gap: 10px;
}
.header__div1 {
}
.header__div1-img {
}
.header__link-div1 {
}
.header__div2 {
}
.header__div2-img {
}
.header__link-div2 {
}
.body__banner {
  position: relative;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
}
.body__banner-text {
  position: absolute;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 112px;
  left: 120px;
  top: 300px;
  max-width: 804px;
}
.body__banner-click {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 559px;
  left: 135px;
  background-color: #ff715b;
}
.body__banner-click-text {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  color: #ffff;
}
.body__banner-mini {
  position: absolute;
  width: 1185px;
  height: 154px;
  left: 615px;
  top: 1043px;
  background: black;
}
